*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

.venv/
.VSCodeCounter/
*yaml.backup

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache
dist/

/doc/_apidoc/
/build
logs/202*

.vscode/
CostMinimizer.log
CostMinimizer.code-workspace
src/CostMinimizer/.coverage
src/CostMinimizer/CostMinimizer/cache_data/*
src/CostMinimizer/CostMinimizer/conf/CostMinimizer.yaml
src/CostMinimizer/CostMinimizer/conf/*yaml.backup
src/pyk2/
src/pythonawsstpmetricsclient/
src/CostMinimizer/test/fixtures/CostMinimizer_test2.db

*CostMinimizer.db
CostMinimizer.pid

.coverage
CostMinimizer-client/.vite/

.pylintrc

docs/*